:host {
    font-family: sans-serif;
    border: 2px solid purple;
    margin: 30px;
    padding: 30px;
    display: block;
    width: 320px;
    max-width: 100%;
}

form input {
    font: inherit;
    color: purple;
    padding: 2px 4px;
    margin-bottom: 10px;
}

form input:focus,
form button:focus {
    outline: none;
}

form button {
    font: inherit;
    border: none;
    background-color: rgb(120, 62, 120);
    color: white;
    padding: 4px 10px;
    display: block;
    cursor: pointer;
}

form button:hover,
form button:active {
    background-color: rgb(87, 0, 87);
}

form button:disabled {
    background-color: grey;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid grey;
}

li:hover,
li:active {
    background-color: rgb(120, 62, 120);
    color: white;
    cursor: pointer;
}